/* Must use a SCSS variable, SCSS nesting, and SCSS inheritance. */

// Variables
$poem-h1-font-family: serif;
$poem-body-font-family: serif;



article.poem {
    margin: 20px;    
    font-family: $poem-body-font-family;
    h1, h2{
	    font-family: $poem-h1-font-family;
        color: black;
    }
	h1 {
		font-size: 20px;
	    font-weight: normal;
		}
	h2 {
		font-size: 20px;
	    font-weight: normal;	
	}	
}

// Nesting example
div {
    font-size: 18px;

    p {
        color: blue;
    }

    ul {
        color: green;
    }
}


// Inheritance example

%message { 
    font-family: $poem-h1-font-family;
    font-size: 18px;
    margin: 20px;
}

.success {
    @extend %message;
    background-color: green;
}

.warning {
    @extend %message;
    background-color: orange;
}

.error {
    @extend %message;
    background-color: red;
}


/* This is a multiline comment and 
it should be in css file */